<div class="foot">
    <div>
        <p>
            <img alt="" src="../../Content/images/bottomline.png" /></p>
        <p>
            Room 02-A16,2F,Hongwell International Plaza,1602 west Zhongshan Rd,Shanghai</p>
        <p>
            Tel:86-21-61675600×9018&nbsp;&nbsp;&nbsp;Fax:86-21-61673801&nbsp;&nbsp;&nbsp;Email:Golf@shanghai-eagle.cn</p>
    </div>
    <div>
        <img alt="" src="../../Content/images/footer.png" /></div>
</div>
