<div class="navbar">
    <div class="logo">
        <img alt="" src="../../Content/images/logo.png" /></div>
    <div class="navbar-inner">
        <ul id="menu">
            <li><a href="">Home</a></li>
            <li><a href="">About</a> </li>
            <li><a href="">Products</a> </li>
            <li><a href="">Contact</a> </li>
        </ul>
    </div>
</div>
