<div class="navbar">
    <div class="navbar-inner">
        <ul id="menu">
            <li><a href="javascript:void(0)">PACKING</a> </li>
            <li>@Html.ActionLink("PRODUCTS", "Products", "Home", null, new { id = "liproducts" })</li>
            <li>@Html.ActionLink("RAW MATERIAL", "Material", "Home", null, new { id = "limaterial" })</li>
            <li>@Html.ActionLink("COMPANY", "Company", "Home", null, new { id = "licompany" })</li>
        </ul>
    </div>
    <div class="logo">
    </div>
    <div class="clear">
    </div>
</div>
