<div class="navbar">
    <div class="nav-company-title">SHANGHAI EAGLE TRADING CO.,LTD</div>
    <div class="navbar-inner">
        <ul id="menu">
            <li>@Html.ActionLink("PACKING", "Packing", "Home", null, new { id = "lipacking" })</li>
            <li>@Html.ActionLink("PRODUCTS", "Products", "Home", null, new { id = "liproducts" })</li>
            <li>@Html.ActionLink("RAW MATERIAL", "Material", "Home", null, new { id = "limaterial" })</li>
            <li>@Html.ActionLink("COMPANY", "Company", "Home", null, new { id = "licompany" })</li>
        </ul>
    </div>
    <div class="logo" id="logo">
    </div>
    <div class="clear">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#logo").click(function () {
            document.location = document.location.protocol + "//" + document.location.hostname + ":" + document.location.port;
        });
    });
</script>
