#wrapper
{
    min-width: 640px;
    max-width: 640px;
    width: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: "Arial" , "Helvetica Neue";
}
.foot
{
    color: #000;
    line-height: 20px;
    letter-spacing: 0;
    text-decoration: none;
    font-family: "Arial" , "MingLiU" , "PMingLiU";
    font-size: 13px;
}
.font06
{
    font-size: 13px;
    line-height: 20px;
    color: #94a67b;
    font-family: "Arial" , "MingLiU" , "PMingLiU";
    font-weight: none;
    text-decoration: none;
}
#footer
{
    margin-top: 20px;
    text-align: center;
}
.container
{
    margin-left: auto;
    margin-right: auto;
}
.navbar
{
    margin-top: 60px;
    margin-bottom: 18px;
    overflow: visible;
    color: #999;
    position: relative;
    text-align: right;
}
.header_top
{
    width: 642px;
    height: 44px;
    background-image: url(../../Content/images/header_top.jpg);
    background-repeat: repeat;
}
.navbar-inner
{
    display: inline-block;
    width: 460px;
    position: relative;
    right: 0;
}
.nav-company-title
{
    display: inline-block;
    position: relative;
    bottom: -15px;
    color: Black;
    margin-right: 20px;
    font-size: 16px;
}
.sitehomepage
{
    display: inline-block;
    cursor: pointer;
    background-image: url(../../Content/images/hpmini.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    opacity: 2;
}
.logo
{
    position: absolute;
    left: 33px;
    top: 14px;
    z-index: 2;
    width: 127px;
    height: 44px;
    opacity: 2;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../Content/images/logo.png);
}
.navbar ul
{
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar ul li
{
    display: block;
    position: relative;
    float: right;
    width: auto;
    min-width: 60px;
    bottom: -17px;
}
.navbar li ul
{
    display: none;
}
.navbar ul li a
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #111;
    margin-left: 1px;
    text-align: center;
    white-space: nowrap;
}

.navbar ul li a.selected
{
    background: #fafafa;
    color: #111;
}

.navbar ul li a:hover
{
    background: #617F8A;
}
.navbar li:hover ul
{
    display: block;
    position: absolute;
}
.navbar li:hover li
{
    float: none;
    font-size: 11px;
}
.navbar li:hover a
{
    background: #617F8A;
}
.navbar li:hover li a:hover
{
    background: #95A9B1;
}
.main
{
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.left
{
    width: 29%;
    display: inline-block;
}
.right
{
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.rigthtitle
{
    margin-top: 6px;
    color: #8f9e41;
    font-size: 18px;
    vertical-align: middle;
    font-family: Arial, Verdana;
}
.rightplain
{
    display: inline-block;
    position: relative;
    bottom: 3px;
}

.rightext
{
    font-family: "Book Antiqua";
    color: #6f6d6e;
    font-size: 14px;
    max-width: 450px;
    word-wrap: break-word;
    text-align: justify;
}
.rightsub
{
    display: block;
    margin-top: 15px;
}
.rightsubtitle
{
    display: inline-block;
    position: relative;
    bottom: 3px;
    font-size: 16px;
}
.middleline
{
    margin: 0;
    padding: 0;
    position: relative;
    top: -14px;
}
.rightext2
{
    font-size: 14px;
    max-width: 450px;
    word-wrap: break-word;
    text-align: justify;
    position: relative;
    top: -12px;
}
.ptable
{
    margin-top: 10px;
    font-size: 12px;
}
.ptable td
{
    padding-left: 14px;
    position: relative;
}
.even
{
    background-color: #D7E9B9;
}
.odd
{
    background-color: #ECF5DA;
}
.slides
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.imgcontainer
{
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-transition: none;
    z-index: 1;
}
#imgslide
{
    display: block;
    min-width: 0px;
    min-height: 0px;
    max-width: none;
    max-height: none;
}
.slidesnav
{
    position: relative;
    top: 0px;
    left: 0px;
}
.slideleft
{
    width: 50px;
    height: 110px;
    opacity: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../Content/images/nothing.png);
}
.hyper
{
    margin-top: 20px;
    text-align: center;
}
.inlineblock1
{
    width: 205px;
    overflow: hidden;
    position: relative;
    left: 0;
    display: inline-block;
}
.inlineblock2
{
    width: 205px;
    overflow: hidden;
    display: inline-block;
}
.inlineblock3
{
    width: 205px;
    overflow: hidden;
    position: relative;
    right: 0;
    display: inline-block;
}
.packingtext
{
    text-align: center;
    font-size: 14px;
}
.packingtext span
{
    color: #9CA968;
    margin-left: 5px;
}

#foot_spliter
{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}
