@{
    ViewBag.Title = "Bamboo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/7left2.png" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                BAMBOO TEES
            </div>
            <div class="inlineblock">
                <a href="Index">
                    <img border="0" alt="" src="../../Content/images/hpmini.png" /></a>
            </div>
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                Bamboo tees is the economical and environmentally friendly alternative to hardwood
                and plastic golf tees. It out-performs hardwood in every category, available in
                all sizes and colors. Presttigious resorts, private golf clubs and public courses
                across the world are making the sensible switch to bamboo tees,</p>
            <p>
                Bamboo is a superior choice of material, not only because of its unique natural
                finish but also for its earch friendly quality. Bamboo is a grashh that grows to
                heights of 100 feet in about 3-5 years, growing as much 2 feet per day. With the
                ability to naturally replenish itself, there is no need for replanting, making it
                one of the most renewable and sustainable resouces. Save a tree.</p>
            <p>
                Bamboo tees retain its natural strength & flexibility from the day its harvested
                to the time of use. Fibers run vertically from cup to tip making bamboo tees stronger
                and more durable when struck, offering the player greater consistency and reliability.
                Testing of the raw material and of the finished product has shown that on average,
                bamboo is 16 percent harder than maple and 1/3 lighter than oak wood allowing the
                overall lifespan to be three times longer than wood.</p>
            <p>
                Bamboo is ready for harvest in only 4 years compared to a typical hardwood tree
                maturation of 40 years. The natural starches in bamboo help it decompose quickly.</p>
            <p>
                Golf course superintendents prefer bamboo tees for its gentler impact on equipment.
                Mower blades are not dulled as fast and tend to jam less when they encounter bamboo
                tee VS a hardwood tee.</p>
        </div>
    </div>
</div>
