@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("a.selected").removeClass("selected");
        $("#licompany").addClass("selected");
    });
</script>
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/7left2.jpg" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                Company Brief Introduction
            </div>
            <div class="inlineblock">
                <a href="Index">
                    <img border="0" alt="" src="../../Content/images/hpmini.png" /></a>
            </div>
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                Found in 2003,we are a golf accessories manufacturer from China. Our office is set
                in Shanghai, China, where the transportation is very convenient. You are welcomed
                to come over and negotiate business with us any time. Our production base is located
                in South China-Fujian Province because there is plenty of forest and wood resources.</p>
            <p>
                Our main products are Wooden Golf tee, Castle Tees, Ball Markers, Divot tools, Golf
                ball pencils and so on. We focus on providing all kinds of sizes, colors, and styles
                while keep our prices competitive. Our customers are widely located in Europe, North
                America, South Africa, Australia, and other regions around the world.</p>
            <p>
                We are trust worthy and reliable with customer centered target, excellent service
                and rapid delivery. Our production output is about 20 million tees monthly and more
                than 200 million tees annually.</p>
        </div>
    </div>
</div>
