@{
    ViewBag.Title = "ForwardDispatch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/dispatch_left.jpg" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                Forwarding Dispatch
            </div>
            <div class="inlineblock">
                <a href="Index">
                    <img border="0" alt="" src="../../Content/images/hpmini.png" /></a>
            </div>
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                In general case: after the production is finished, we will tell the customer the
                package details including the carton quantity, carton dimension, gross weight, shipment
                volume etc. As soon as we get in touch with the forwarder, we will arrange the custom
                clearing and warehouse delivery. We will send the goods into the designated warehouse
                in time.
            </p>
            <p>
                Then we confirm the bill of lading to ensure the ship with the goods leave the port
                on time. At last we will forward the customer the documents for picking up the goods
                and clearing custom.</p>
        </div>
    </div>
</div>
