@{
    ViewBag.Title = "HighQualityTee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/9left2.jpg" /></div>
    </div>
    <div class="right">
        <div class="righttile-up"></div>
        <div class="rigthtitle">
            <div class="rightplain">
                High Quality Tee
            </div>
            <div class="sitehomepage" />
        </div>
        <div class="righttile-bottom"></div>
        <div class="rightext">
            <p>
                Our golf tees are made by high-density maple wood and every piece is well-chosen
                in order to offer the best quality product to our customers. These tees are very
                high quality and not the ones known as 'one hit wonders'. It features with hard
                nature, strong and durable, not easy to deform and break, smooth and consistency
                surface. They are not-toxic, lead-free paint - safe for the environment and safe
                for golfers.
            </p>
            <p>
                Our golf tees are made to maximize golfer's drives for more distance and greater
                accuracy. They are perfect for use with various woods and irons. it combines years
                of golf swing knowledge with modern day equipment to provide the "Best Tee" possible
                for today's golfer! These tees ensure you hit the sweet-spot every time and the
                golf ball rebounds off the hot part of the golf club.
            </p>
            <p>
                Today our golf tees do great in colors. Bright colour makes it easier to find tee.
                Custom Branding makes for the ideal promotional item.
            </p>
        </div>
    </div>
</div>
