@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="@Url.Content("~/scripts/jquery.nivo.slider.pack.js")" type="text/javascript"></script>
}
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="/content/images/slides/profession.jpg" data-thumb="/content/images/slides/profession.jpg"
                alt="" data-transition="sliceUpLeft" />
            <a href="/home/ForwardDispatch">
                <img src="/content/images/slides/dispatch.jpg" data-thumb="/content/images/slides/dispatch.jpg"
                    alt="" data-transition="fade" /></a> <a href="/home/HighQualityTee">
                        <img src="/content/images/slides/highquality.jpg" data-thumb="/content/images/slides/highquality.jpg"
                            alt="" data-transition="slideInLeft" /></a> <a href="/home/bamboo">
                                <img src="/content/images/slides/bamboo.jpg" data-thumb="/content/images/slides/bamboo.jpg"
                                    alt="" data-transition="sliceUpDownRight" /></a>
        </div>
    </div>
</div>
<div class="hyper">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
                <a href="/Home/Wooden">
                    <img alt="" src="../../Content/images/hyper_wooden.jpg" /></a>
            </td>
            <td>
                <a href="/Home/Pantone">
                    <img alt="" src="../../Content/images/hyper_pantone.jpg" /></a>
            </td>
            <td>
                <a href="/Home/TeeWithLogo">
                    <img alt="" src="../../Content/images/hyper_teewithlogo.jpg" /></a>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(window).load(function () {
        $("#footer").css("margin-top","15px");
        $('#slider').nivoSlider({ prevText: "<div class=\"slideleft\"/>", nextText: "<div class=\"slideleft\"/>", controlNav: false });
    });
</script>
