@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="@Url.Content("~/scripts/slides.js")" type="text/javascript"></script>
}
<script type="text/javascript">
    function resetInterval() {
        if (typeof (si) != "undefined")
            clearInterval(si);
        si = setInterval(function () {
            slides.showNext();
        }, 3000);
    }

    $(document).ready(function () {
        $("#foot_spliter").hide();
        window.slides.init({ "container": $(".imgcontainer") });
        $("#leftslide").click(function () {
            slides.showNext("left");
            resetInterval();
        });

        $("#rightslide").click(function () {
            slides.showNext();
            resetInterval();
        });

        slides.showNext();
        resetInterval();
    });
</script>
<div class="slides">
    <div class="imgcontainer">
    </div>
    <div class="slidesnav">
        <div id="leftslide" width="62px" height="124px" class="slideleft">
        </div>
        <div id="rightslide" width="62px" height="124px" class="slideright">
        </div>
    </div>
</div>
<div class="hyper">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td>
                <a href="/Home/Wooden">
                    <img alt="" src="../../Content/images/hyper_wooden.jpg" /></a>
            </td>
            <td>
                <a href="/Home/Pantone">
                    <img alt="" src="../../Content/images/hyper_pantone.jpg" /></a>
            </td>
            <td>
               <a href="/Home/TeeWithLogo">
                    <img alt="" src="../../Content/images/hyper_teewithlogo.jpg" /></a>
            </td>
        </tr>
    </table>
</div>
