@{
    ViewBag.Title = "Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("a.selected").removeClass("selected");
        $("#limaterial").addClass("selected");
    });
</script>
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/8left2.jpg" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                Raw Materials
            </div>
            <div class="inlineblock">
                <a href="Index">
                    <img border="0" alt="" src="../../Content/images/hpmini.png" /></a>
            </div>
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                Maple, is a temperate timber produced in the southern part of our country. The wood
                looks gray brown to gray-red without obvious rings and with many small pores evenly
                distributed. Maple wood grain staggered with detailed and uniform structure, light
                and hard as well as with fine patterns. It's easy to process with the good performance
                of the paint coating and strong gluing. its color is harmonizing and consistent.</p>
        </div>
        <div class="rightsub" style="margin-top: 30px;">
            <div class="inlineblock">
                <img alt="" src="../../Content/images/arrow2.png" />
            </div>
            <div class="rightsubtitle">
                Color
            </div>
            <div class="middleline">
                <img alt="" width="440" style="overflow: hidden; height: 2px;" src="../../Content/images/line3_middle.png" />
            </div>
            <div class="rightext2">
                Cream to the white. Sometimes with light reddish brown.</div>
        </div>
        <div class="rightsub">
            <div class="inlineblock">
                <img alt="" src="../../Content/images/arrow2.png" />
            </div>
            <div class="rightsubtitle">
                Features
            </div>
            <div class="middleline">
                <img alt="" width="440" style="overflow: hidden; height: 2px;" src="../../Content/images/line3_middle.png" />
            </div>
            <div class="rightext2">
                Wood texture is close and uniform with good polishing. Sometimes it has light greenish
                gray mineral lines and easy to paint.</div>
        </div>
        <div class="rightsub">
            <div class="inlineblock">
                <img alt="" src="../../Content/images/arrow2.png" />
            </div>
            <div class="rightsubtitle">
                Wood nature
            </div>
            <div class="middleline">
                <img alt="" width="440" style="overflow: hidden; height: 2px;" src="../../Content/images/line3_middle.png" />
            </div>
            <div class="rightext2">
                Moderate intensity, fine wood, dense, beautiful patterns, good gloss and wood grain
                often present bird eye or the tiger-back-like pattern.</div>
        </div>
    </div>
</div>
