@{
    ViewBag.Title = "Packing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("a.selected").removeClass("selected");
        $("#lipacking").addClass("selected");
    });
</script>
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/packing_left.jpg" /></div>
    </div>
    <div class="right">
        <div class="righttile-up"></div>
        <div class="rigthtitle">
            <div class="rightplain">
                Packing
            </div>
            <div class="sitehomepage" />
        </div>
        <div class="righttile-bottom"></div>
        <div class="rightext">
            <p>
                Our normal packing is free of charge. 1,000 pcs tees a bag, 10 bags a carton. Of
                course you can choose small packing. Among these small packing there're the packs
                with the header card or the poly bags printed with your logo. There's also blister
                pack.</p>
        </div>
        <div class="rightsub">
            <img width="450" height="294" style="overflow: hidden" alt="" src="../../Content/images/packing_i.jpg" />
        </div>
    </div>
</div>
