@{
    ViewBag.Title = "TeeWithLogo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/7left2.jpg" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                TEE WITH LOGO
            </div>
            <div class="sitehomepage" />
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                As for the print of logo, we'll imprint anything you can dream up on tees. The ideas
                & possibilities are endless. Express yourself with your own personalized golf tees!
                We print messages on tees that others will not. We can provide imprint on tee shaft
                and tee cup. We also can do swivel print around tee shaft. The content of print
                is including various color letters or pattern, all kinds of font, with one line,two
                lines or more lines. The print is using high quality ink to guarantee the beautiful
                print effect and not to fade off or wipe off.</p>
        </div>
        <div class="rightsub">
            <img width="450" height="222" style="overflow: hidden" alt="" src="../../Content/images/teewithlogo.jpg" />
        </div>
    </div>
</div>
