@{
    ViewBag.Title = "Wooden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="left">
        <div style="margin-top: 6px">
            <img alt="" src="../../Content/images/7left2.jpg" /></div>
    </div>
    <div class="right">
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line1near_nav.png" />
        </div>
        <div class="rigthtitle">
            <div class="rightplain">
                WOODEN GOLF TEE
            </div>
            <div class="inlineblock">
                <a href="Index">
                    <img border="0" alt="" src="../../Content/images/hpmini.png" /></a>
            </div>
        </div>
        <div>
            <img alt="" width="450" style="overflow: hidden" src="../../Content/images/line2below_t.png" />
        </div>
        <div class="rightext">
            <p>
                Our white wooden tees is using raw material from maple tree. After careful picking
                up the material, perfect preconditioning, make sure the wood is completely dry and
                remove all kinds of defect and hidden problem. Then after the accurate forming,
                painting, rigorous quality control, it features with hard nature, strong and durable,
                not easy to deform and break, smooth and consistency surface. High quality environment
                friendly paint which is non toxin and harm, anti moisture, mould and worm, suitable
                for various whether conditions, make the tees look very beautiful and shiny. It's
                suitable for printing various logo artwork. If it is added with fine package and
                decoration, it could also make into a beautiful gift to reach a very good promotion
                effect.</p>
        </div>
        <div class="rightsub">
            <img width="450" style="overflow: hidden" alt="" src="../../Content/images/woodengolftee.jpg" />
        </div>
    </div>
</div>
